* {
  box-sizing: border-box;
}

body{
	margin: 0;
	color: black;
	font-family: "Open Sans", sans-serif;
	text-align: left;
	font-size: 1.25em;
	max-width: 90%;
}
			
#capçalera{
	display: flex;
	justify-content:flex-start;
 	align-items:stretch;
  	flex-wrap:nowrap;
  	padding:10px;
	
	width: 90%;
	margin: 0 auto;
}
#capçalera div{
	padding: 1em;

@keyframes fadeEffect{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
	
@media (max-width: 992px){
  #izxi{
    min-height:45px;
  }
  #i5og{
    min-height:45px;
  }
  #i9jz{
    min-height:45px;
  }
  #ihct{
    min-height:45px;
  }
}
	
@media (max-width: 768px){
  .row{
    flex-wrap:wrap;
  }

}
