* {
  box-sizing: border-box;
}

@import url('https://fonts.googleapis.com/cssfamily=Open+Sans');

body{
	margin: 0;
	width: 90%;
}
			
#capçalera{
	display: flex;
	justify-content:flex-start;
 	align-items:stretch;
  	flex-wrap:nowrap;
  	padding: 10px;
}

#element-capçalera{
	min-height: 75px;
	flex-grow: 1;
	flex-basis: 100%;
	padding: 1em;
}

#texte-capçalera{
	padding: 10px;
	color: black;
	font-family: "Open Sans", sans-serif;
	text-align: left;
	font-size: 1.25em;
	max-width: 50%;
}
		

@keyframes fadeEffect{
  from{
    opacity:0;
  }
  to{
    opacity:1;
  }
}
	
@media (max-width: 992px){
  #capçalera div{
    min-height:45px;
  }
	
@media (max-width: 768px){
  #capçalera{
    flex-wrap:wrap;
  }

}
